.app.dark {
    --bg-color: #05053e;
    --inverted-bg-color: #e3e3e3;

    --primary-color: #049604;
    --secondary-color: #04ff04;
    --inverted-primary-color: #0835bb;
    --inverted-secondary-color: #0353ff;
}