:root {
    --bg-color: #e3e3e3;
    --inverted-bg-color: #05053e;

    --primary-color: #0835bb;
    --secondary-color: #0353ff;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}